body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
}
.img1{
    width: 175px;
    margin-bottom:  50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    width: 100%;
    height: 800px;
    color: white;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    opacity: 0.83;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    padding-top: 70px;
}
#bio{
    padding: 50px;
    background-color: chartreuse;
}
p{
    max-width: 450px;
    font-size: 20px;
    margin: 25px;
    line-height: 1.2;
    padding-left: 333px;
    background-color: chartreuse;
}
h1{
    font-size: 35px;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: underline;
}
.menu{
    list-style: none;
    font-family: fantasy;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px; 
    background: white;
    margin-top: 0px;
}
.links{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 30px;
    display: inline;
}
h1{
    text-decoration: none;
    font-family: fantasy;
    font-size: 50px;
    color: blueviolet;
    background-color: aqua;
}
.links:hover{
    font-size: 40px;
}
#about{
    background-color: darkblue;
}
#inspiration{
    background-color: lightblue;
}
#contact{
    background: firebrick;
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
.contact_1 a{
    color: white;
    text-shadow: none;
}
html{
    scroll-behavior: smooth;
}
a{
    color: crimson;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
#article a{
    text-shadow: none;
    color: blue;
    font-size: 25px;
}
a img{
    border-radius: 70%;
    width: 45%;
}
#article{
    background-color: coral;
}